# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
.pytest_cache/
htmlcov/

# Kubernetes
kubernetes/

# Docker
Dockerfile
.dockerignore 